# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# secrets
.env
.secrets

.DS_Store
# temp/libs
temp*
node_modules
bin
build
src/test/temp
src/script/temp
src/contracts/temp
